.chart-responsive {
    position: relative;
    width: 100%;
    height: 40vh;
    /* adjust default height as needed */
}

.chart-responsive canvas {
    width: 100% !important;
    height: 100% !important;
}