<h2>Olympic games app</h2>
<hr />
<div>
  @if(loading()){
  <app-header [title]="(titlePage)"></app-header>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
  @else if(hasError())
  {
  <app-header title="Error"></app-header>
  }
  @else
  {
  <app-header [title]="(titlePage)" [stats]="(stats)"></app-header>
  <app-dashboard-pie-chart [pieChartDatas]="(pieChartDatas)"></app-dashboard-pie-chart>
  }
</div>